<div>
  <mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
       type="text"
       matInput
       placeholder="Enter Title"
       name="title"
       ngModel
       required
       #tit = "ngModel"
      >
      <mat-error *ngIf="tit.hasError('required')">
          Enter Title
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Enter data"
        name="description"
        ngModel
      ></textarea>
    </mat-form-field>
    <br>
    <button
      type="submit"
      [disabled]="postForm.pristine || postForm.invalid"
      mat-raised-button color="accent"
      >Save post</button>
  </form>
  </mat-card>
</div>
